p.dotted{
 border-style:dotted;
 border-color: lightblue;
}


p.solid{
 border-style:solid;
 border-color: red;
}

p.multiborder{
 border-top-style:solid;
 border-right-style:dotted;
 border-left-style: dashed;
 border-bottom-style: double;
}

p.shorthand{
 border:5px dotted blue;
 color:red;

}

p.onesideborder{
 border-left:6px solid red;
 background-color:lightgrey;
}

p.roundedge{
 border: 2px solid green;
 border-radius:10px;
}

div.format{
 border:2px solid blue;
 border-radius:10px;
 margin-top:20px;
 margin-right:30px;
 margin-bottom:40px;
 margin-left:50px;
 background-color:lightgrey;
}

div.height{
 border:3px solid blue;
 margin: 30px;
 height:50px;
 width:50%;
 color:orange;
}

h1.formatH{
 text-align:center;
 text-transform: uppercase;
 color:#4CAF50;
}

p.formatP{
 text-indent=50px;
 text-align=justify;
 letter-spacing:3px;
}

p.arial{
    font-family: Arial, Helvetica, sans-serif;
}

p.serif{
    font-family:'Times New Roman', Times, serif;
}

p.monospace{
    font-family: 'Courier New', Courier, monospace;
}

p.cursive {
    font-family:'Brush Script MT',cursive;
}

p.fantasy {
    font-family: Copperplate,Papyrus,fantasy;
}

p.italic {
    font-style: italic;
}

p.bold {
    font-weight: bold;
}

p.smallcaps{
    font-variant: small-caps;
}

