body{
    background-color:transparent;}
h1 { 
  color: blue;
  border:2px solid white;
  padding:10px;
  margin: 20px;
  font-family:tahoma;
   }

p {
   color:red; 
   }
a:link{
  color:red;
  background-color:transparent;
  decoration: none;

      }
table,th,td {
   border:1px solid black;
   border-collapse:collapse;

}

th,td {
   padding:10px;
   text-align: left;
   
}

#t01 {
 background-color: #a1b2c3;
 width:100%;

}